ArchReadForm = Ext.extend(Ext.Panel, {
			taskId:null,
			setTaskId:function(vId){
			   this.taskId=vId;
			},
			getTaskId:function(){
			   return this.taskId;
			},
			
			// 内嵌FormPanel
			formPanel : null,
			displayPanel : null,
			// 构造函数
			constructor : function(_cfg) {
				Ext.applyIf(this, _cfg);
				// 必须先初始化组件
				this.initUIComponents();
				ArchReadForm.superclass.constructor.call(this, {
							id : 'ArchReadFormWin',
							layout : 'form',
							items : [this.displayPanel,this.formPanel],
							modal : true,
							height : 400,
							width : 600,
							maximizable : true,
							buttonAlign : 'center',
							buttons : this.buttons
						});
			},// end of the constructor
			// 初始化组件
			initUIComponents : function() {
				this.displayPanel=new Ext.Panel({
				      id:'ArchivesHandleDisplayPanel',
				      autoScroll : true,
				      height:280,
				      border:false,
				      autoLoad:{
				      	url:__ctxPath+'/pages/archive/archivedetail.jsp?archiveId=${archives_archivesId}',
				      	nocache:true}
		         });
				this.formPanel = new Ext.FormPanel({
							layout : 'form',
							bodyStyle : 'padding:10px 10px 10px 10px',
							border : false,
							url : __ctxPath + '/archive/saveArchDispatch.do',
							id : 'ArchReadForm',
							defaults : {
								anchor : '98%,98%'
							},
							items : [{
									   xtype:'hidden',
									   name:'archivesId',
									   value:'${archives_archivesId}'
									},{
									   xtype:'hidden',
									   name:'undertakeUserIds',
								       value:'${signUserIds}'
									},{
									    xtype:'hidden',
									    name:'cruArchDepId',
									    value:'${cruArchDepId}'
									},
								     #set($v=",")
							         #set($vb="$v${currentUser.userId}$v")
							         #set($vc="$v${undertakeIds}$v") 
								     #if($vc.indexOf($vb)!=-1)
								        {
								          xtype:'hidden',
								          name:'archUserType',
								          value:1
								        },
								        {
										fieldLabel : '处理意见',
										name : 'readFeedback',
										xtype : 'textarea',
										id : 'readFeedback'
									   }
								     #else
								       {
								          xtype:'hidden',
								          name:'archUserType',
								          value:0
								        },{
										fieldLabel : '反馈意见',
										name : 'readFeedback',
										xtype : 'textarea',
										id : 'readFeedback'
									   }
								     #end
									]
						});
				// 初始化功能按钮
				this.buttons = [
				           #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'转至[${v.destination}]',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}')
								})
								#set ($count=$count+1)
							#end
						];
			},// end of the initcomponents
			/**
			 * 取消
			 * 
			 * @param {}
			 *            window
			 */
			cancel : function(window) {
				window.close();
			},
			/**
			 * 保存
			 */
			save : function(formPanel, panel,signalName,activityName) {
				if (formPanel.getForm().isValid()) {
					formPanel.getForm().submit({
								method : 'POST',
								waitMsg : '正在提交数据...',
								success : function(fp, action) {
								formPanel.getForm().submit({
							            url:__ctxPath+ "/flow/nextProcessActivity.do",
										method:'post',
										params:{taskId:panel.taskId,signalName:signalName,activityName:activityName},
										success : function(fp, action) {
										    Ext.ux.Toast.msg('操作信息','成功保存！');
										    AppUtil.removeTab('ProcessForm'+panel.taskId);
											var myTaskView=Ext.getCmp("MyTaskGrid");
											var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
											if(appHomeTaskGrid!=null){
												appHomeTaskGrid.getStore().reload();
											}
											if(myTaskView!=null){
												//AppUtil.activateTab(taskView);
												myTaskView.getStore().reload();
											}
										},
										failure : function(fp, action) {
											Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
										}
							    });
								},
								failure : function(fp, action) {
									Ext.MessageBox.show({
												title : '操作信息',
												msg : '信息保存出错，请联系管理员！',
												buttons : Ext.MessageBox.OK,
												icon : Ext.MessageBox.ERROR
											});
								}
							});
				}
			}// end of save
		})