<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OA</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:conf/app-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>sitemesh.configfile</param-name>
		<param-value>/WEB-INF/classes/conf/sitemesh.xml</param-value>
	</context-param>
	<filter>
		<filter-name>sitemeshFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>sitemeshFilterBean</param-value>
		</init-param>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 不进行缓存 -->
	<filter>
		<filter-name>NoCache</filter-name>
		<filter-class>com.palmelf.core.web.filter.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache, must-revalidate</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>GzipJsFilter</filter-name>
		<filter-class>com.palmelf.core.web.filter.GzipJsFilter</filter-class>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>lazyLoadingFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>NoCache</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemeshFilter</filter-name>
		<url-pattern>/mobile/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lazyLoadingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GzipJsFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/file-upload</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/file-download</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.palmelf.core.web.listener.StartupListener</listener-class>
	</listener>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.palmelf.core.web.listener.UserSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>com.palmelf.core.web.servlet.SimpleCaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileUpload</servlet-name>
		<servlet-class>com.palmelf.core.web.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jasperUpload</servlet-name>
		<servlet-class>com.palmelf.core.web.servlet.JasperUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileDownload</servlet-name>
		<servlet-class>com.palmelf.core.web.servlet.FileDownloadServlet</servlet-class>
	</servlet>
	<!-- 文件下载 -->
	<servlet>
		<servlet-name>fileDownLoad</servlet-name>
		<servlet-class>com.palmelf.eoffice.action.system.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReportServlet</display-name>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.palmelf.core.web.servlet.ReportServlet</servlet-class>
	</servlet>
	<!-- 工作流图形显示 -->
	<servlet>
		<servlet-name>JpdlImageServlet</servlet-name>
		<servlet-class>com.palmelf.core.jbpm.servlet.JpdlImageServlet</servlet-class>
	</servlet>
	<!--解决HTML报表中图片不显示的问题 -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileDownLoad</servlet-name>
		<url-pattern>/file-downLoad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JpdlImageServlet</servlet-name>
		<url-pattern>/jbpmImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/CaptchaImg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>/js/fckeditor/editor/filemanager/browser/default/connectors/jsp/connector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUpload</servlet-name>
		<url-pattern>/file-upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jasperUpload</servlet-name>
		<url-pattern>/jasper-upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileDownload</servlet-name>
		<url-pattern>/file-download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<!--增加报表图片映射路径，映射的是jasper文件所在的路径 -->
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/report/jasper</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
</web-app>
